body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 100px;
  background-color: #39393995;
}

header {
  text-align: center;
  background-color: rgb(45, 45, 45);
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 5px;
}

.header h1 {
  color: #fff;
  font-size: 30px;
}
.addList {
  padding-top: 60px;
}
.search input,
.search button,
.addlistForm input,
.addlistForm button {
  padding: 20px;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  background-color: #ffffff33;
  color: #fff;
  cursor: pointer;
}

.list ul li {
  list-style: none;
  text-align: start;
  font-size: 20px;
  color: #fff;
  padding: 5px;
}
.addList {
  position: relative;
  bottom: 20px;
}
.addList button {
  float: right;
  padding: 10px;
  position: relative;
  top: -40px;
  color: #fff;
  border: none;
  margin: 10px;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #000000;
  border-radius: 5px;
  cursor: pointer;
  left: -30px;
}
.addList button:active {
  opacity: 30%;
}

.addList button.clean {
  background-color: #580000;
}

.error {
  background-color: #ff000020;
  color: #fff;
  max-width: 295px;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
  text-align: start;
  position: relative;
  left: 35px;
}
.addList button#add {
  background-color: #0079b6;
}
@media screen and (max-width: 360px) {
  .addList button {
    padding: 20px;

    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  body {
    position: relative;
    top: 0px;
    background-color: rgb(45, 45, 45);
  }
  .search input,
  .search button,
  .addlistForm button {
    width: 100%;
    margin: 5px;
  }
  .addlistForm input {
    width: 85%;
    margin: 5px;
  }
  header {
    background-color: rgb(45, 45, 45);
    position: relative;
    top: 40px;
    height: 60vh;
  }

  .addList button {
    float: left;
    padding: 12px;
    position: relative;
    top: 10px;
    color: #fff;
    border: none;
    margin: 5px;
    font-size: 20px;
    text-transform: capitalize;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
    left: 10px;
  }
  .list ul li {
    text-align: start;
  }
  .error {
    max-width: 295px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: start;
    position: relative;
    left: 3px;
  }
}
